%container {
    max-width: $ul;
    margin: auto;
    padding-left: $gap;
    padding-right: $gap;
}

%pattern_btn {
    display: block;
    color: $color-light;
    width: 100%;
    font-size: 1.125rem;
    height: 3.75rem;
    line-height: 1.15;
    font-family: $font-main;
}